*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    text-align: center;
}
      
 h2{
    color: aqua;
    margin-top: 5px;
 }

 #msg{
margin-bottom: 1em;
color: aqua;
 }

 #gameBored{
    border: 3px solid rgb(3, 151, 151);
 }

 #score{
    margin-top: 1em;
    font-size: 2em;  
 }